.menu_btn {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  z-index: 1000;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--text-color);
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_btn:hover {
  color: var(--green);
  box-shadow: var(--box-shadow-inset);
}
@media (min-width: 768px) {
  .menu_btn {
    display: none;
  }
}
